/SistemaPousada/nbproject/private/
/SistemaPousada/SistemaPousada-war/nbproject/private/
/SistemaPousada/SistemaPousada-ejb/nbproject/private/
/ClientePousada/nbproject/private/
/ClientePousada/build/
/SistemaPousada/SistemaPousada-ejb/build/
/ClientePousada/dist/
/SistemaPousada/SistemaPousada-ejb/dist/
/SistemaPousada/build/
/SistemaPousada/dist/
/SistemaPousada/SistemaPousada-war/dist/
/SistemaPousada/SistemaPousada-war/build/
/EJBTeste/nbproject/private/
/EJBTeste/build/
/EJBModule1/nbproject/private/
/MeuPrimeiroCouchBaseApp/nbproject/private/
/MeuPrimeiroCouchBaseApp/build/
/MeuPrimeiroCouchBaseApp/dist/